<h1 class="display-4">Sonstiges</h1>
<ul>
  <li>
    Der Flyer zum Download
    <a href="{{ .Site.BaseURL }}img/sternfahrt_front.jpg">Vorderseite</a>,
    <a href="{{ .Site.BaseURL }}sternfahrt_back.jpg">Rückseite</a>
  </li>
  <li>
    Die Strecke der Abschlussrunde in gewohnter
    <a href="{{ .Site.BaseURL }}pdf/160612_CM_Sternfahrt_Aufzugsstrecke.pdf">CM-Stuttgart-Form</a>
  </li>
</ul>
Live-Tracking auf
<a href="http://criticalmaps.net/map#11/48.8035/9.2107">CriticalMaps</a>:
<iframe width="1280" height="720" src="http://criticalmaps.net/map-embed#11/48.8035/9.2107" frameborder="0" allowfullscreen></iframe>
